.feature-header,
.feature-paragraph {
  margin-top: 1rem;
}

.feature-header {
  letter-spacing: 1.55px;
  color: #24B47E;
  font-size: 17px;
  line-height: 22px;
}

.feature-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #6B7C93;
}

.feature-btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  letter-spacing: 0.5px;
  color: #24B47E;
}

#arrow-right {
  color: #24B47E;
  margin-left: .5rem;
}

#feature-card {
  border-bottom: 1px solid #F6F9FC;
  padding: 3rem;
}

@media screen and (min-width: 992px) {
  .feature-0, .feature-2 {
    border-right: 1px solid #F6F9FC;
  }
}

@media screen and (max-width: 991px) {
  .feature-0, .feature-2 {
    border-right: none;
  }
}
