.navbar {
  padding-top: .1rem;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: white;
}

.navbar-item {
  list-style: none;
  cursor: pointer;
}

.sign-in-btn {
  padding: 0 0.5rem;
}